node_modules
.next

# Environment variables
.env
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local

# Build files
build
dist
out

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode
*.swp
*.swo

# Supabase
.supabase
